<launch>
  <arg name="robots_config" default="$(find pathfinder)/config/robots.yaml"/>
  <arg name="sim" default="false"/>

  <node name="path_server" pkg="pathfinder" type="path_server_node" output="screen">
    <param name="graph_file" value="$(find pathfinder)/config/graph.yaml"/>
    <param name="horizon" value="2.0"/>
    <param name="check_rate_hz" value="10.0"/>
    <param name="safety_radius" value="0.35"/>
    <param name="time_step" value="0.1"/>
    <param name="sim" value="$(arg sim)"/>
    <rosparam file="$(arg robots_config)" command="load"/>
  </node>

  <node name="robot_executors" pkg="pathfinder" type="robot_executors_node" output="screen">
    <param name="graph_file" value="$(find pathfinder)/config/graph.yaml"/>
    <param name="sim" value="$(arg sim)"/>
    <param name="obstacle_pause_enabled" value="true"/>
    <param name="obstacle_stop_distance" value="0.20"/>
    <param name="lidar_error_margin" value="0.05"/>
    <param name="scan_stale_timeout_seconds" value="1.0"/>
    <rosparam file="$(arg robots_config)" command="load"/>
  </node>
</launch>
