<launch>
  <arg name="robots_config" default="$(find pathfinder)/config/robots.yaml"/>
  <arg name="sim" default="false"/>

  <node name="path_server" pkg="pathfinder" type="path_server" output="screen">
    <param name="graph_file" value="$(find pathfinder)/config/graph.yaml"/>
    <param name="sim" value="$(arg sim)"/>
    <rosparam file="$(arg robots_config)" command="load"/>
  </node>

  <node name="robot_executors" pkg="pathfinder" type="robot" output="screen">
    <param name="graph_file" value="$(find pathfinder)/config/graph.yaml"/>
    <param name="sim" value="$(arg sim)"/>
    <rosparam file="$(arg robots_config)" command="load"/>
  </node>
</launch>
