<launch>
  <arg name="model" default="waffle"/>
  <arg name="robots_config" default="$(find pathfinder)/config/robots.yaml"/>
  <arg name="start_system" default="true"/>

  <!-- Gazebo with custom world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pathfinder)/worlds/pathfinding_table.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- tb3_01: spawned at graph node 0 (x=1.0, y=0.75, yaw=0) -->
  <group ns="tb3_01/sim">
    <param name="robot_description"
           command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0"/>
      <param name="tf_prefix" value="tb3_01"/>
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model tb3_01 -x 1.0 -y 0.75 -z 0.0 -Y 0.0 -param robot_description"/>
  </group>

  <!-- tb3_05: spawned at graph node 5 (x=5.0, y=2.25, yaw=pi) -->
  <group ns="tb3_05/sim">
    <param name="robot_description"
           command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0"/>
      <param name="tf_prefix" value="tb3_05"/>
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model tb3_05 -x 5.0 -y 2.25 -z 0.0 -Y 3.14159 -param robot_description"/>
  </group>

  <include if="$(arg start_system)" file="$(find pathfinder)/launch/robots.launch">
    <arg name="robots_config" value="$(arg robots_config)"/>
    <arg name="sim" value="true"/>
  </include>

</launch>
