<launch>
  <arg name="model" default="waffle"/>
  <arg name="robots_config" default="$(find pathfinder)/config/robots.yaml"/>
  <arg name="graph_config" default="$(find pathfinder)/config/graph.yaml"/>
  <arg name="map_file" default="$(find pathfinder)/maps/my_map.yaml"/>
  <arg name="start_system" default="true"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find pathfinder)/models:$(optenv GAZEBO_MODEL_PATH)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pathfinder)/worlds/pathfinding_table.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="simulation_spawner" pkg="pathfinder" type="simulation_robots" output="screen">
    <param name="robots_config" value="$(arg robots_config)"/>
    <param name="graph_config" value="$(arg graph_config)"/>
    <param name="model" value="$(arg model)"/>
  </node>

  <node name="simulation_marker_spawner" pkg="pathfinder" type="simulation_markers" output="screen">
    <param name="graph_config" value="$(arg graph_config)"/>
  </node>

  <node name="map_server" pkg="map_server" type="map_server"
        args="$(arg map_file)" output="screen"/>

  <node if="$(arg start_system)" name="path_server" pkg="pathfinder" type="path_server" output="screen">
    <param name="graph_file" value="$(arg graph_config)"/>
    <param name="sim" value="true"/>
    <rosparam file="$(arg robots_config)" command="load"/>
  </node>

  <node if="$(arg start_system)" name="robot_executors" pkg="pathfinder" type="robot" output="screen">
    <param name="graph_file" value="$(arg graph_config)"/>
    <param name="sim" value="true"/>
    <rosparam file="$(arg robots_config)" command="load"/>
  </node>

</launch>
