<launch>
  <!-- path_server node -->
  <node name="path_server" pkg="pathfinding_system" type="path_server_node" output="screen">
    <param name="graph_file" value="$(find pathfinding_system)/config/graph.yaml"/>
    <param name="horizon" value="2.0"/>
    <param name="check_rate_hz" value="10.0"/>
    <param name="safety_radius" value="0.35"/>
    <param name="time_step" value="0.1"/>
  </node>

  <!-- tb3_0 executor -->
  <node name="executor" ns="tb3_0" pkg="pathfinding_system" type="robot_executor_node" output="screen">
    <param name="robot_id" value="tb3_0"/>
    <param name="topic_namespace" value="tb3_0/sim"/>
    <param name="graph_file" value="$(find pathfinding_system)/config/graph.yaml"/>
    <param name="state_publish_rate_hz" value="10.0"/>
  </node>

  <!-- tb3_1 executor -->
  <node name="executor" ns="tb3_1" pkg="pathfinding_system" type="robot_executor_node" output="screen">
    <param name="robot_id" value="tb3_1"/>
    <param name="topic_namespace" value="tb3_1/sim"/>
    <param name="graph_file" value="$(find pathfinding_system)/config/graph.yaml"/>
    <param name="state_publish_rate_hz" value="10.0"/>
  </node>
</launch>
